<nav class="navbar shadow-sm fixed-top bg-white">
  <div class="container-fluid">
  </div>
  <div style="
    display: inline-block;
    text-decoration:none;
    gap: 10px
    flex-direction: column;
    position:fixed;
    background-color: #8F43EE;
    width: 100%;
    height:100px;
  ">
      <ul class= "d-flex flex-row text-dark ">
          <li id="active" class="navb">Home</li>
          <li >Market</li>
          <li >News</li>
          <li >Mutual_Funds</li>
          <li >Tech</li>
          <li >Contact</li>
          <div class="button"></div>
      </ul>  
    </div>
</nav>
  </div>
  

<div style="height:56px"></div>