<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <nav>
      
      <ul>
        <li>Home</li>
        <li>Market</li>
        <li>News</li>
        <li>Mutual Funds</li>
        <li>Tech</li>
        <li>Careers</li>
      </ul>    
    </nav>

    <div class="graphs">
      graphs
    </div>

    <div class="group">
      <h1>Hash Society</h1>
    </div>
    <div class="data">
      data
    </div>



    <script src="scripts.js"></script>
  </body>
</html>
